@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200&family=Space+Mono&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: whitesmoke;
  background-color: #333;
  opacity: 0.93;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: whitesmoke;
  font-size: 28px;
}
.navbar .links {
  margin-left: auto;
  font-size: 20px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #fc036b;
}
.content {
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #333;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.blog-preview h2 {
  font-size: 20px;
  color: whitesmoke;
  margin-bottom: 8px;
}

.line {
  width: 105px;
  height: 4px;
  background: rgb(226, 210, 210);
  border-radius: 5px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f2f2f2;
  color: #333;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f2f2f2;
  color: #333;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
